.root {
    -fx-background-color: #FBB73A;
    -fx-font-family: sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-pref-width: 900;
    -fx-pref-height: 600;
}

#smallHome {
    -fx-pref-width: 600;
    -fx-pref-height: 400;
}

.button {
    -fx-background-color: #000E34;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
}

.label {
    -fx-text-fill: black;
}

.table-column {
    -fx-alignment: CENTER;
}

#TXTwelcome{
    -fx-font-size: 40;
    -fx-font-style: italic;
    -fx-text-fill: WHITE;
}

#HeaderTXT{
    -fx-font-size: 40;
    -fx-text-fill: WHITE;
}

#header1 {
    -fx-background-color: #000E34;
}

#backButton
{
    -fx-alignment: center-right;
    -fx-font-size: 30;
}